<tbody>
    <tr>
        <td class="m-0 p-0 d-flex justify-content-center align-items-center small-font" data-label="Operator"><img
                src="{{player_worst_attacker.operator.images.badge}}" class="operator-logo" /></td>
        <td class="m-0 p-0 d-flex justify-content-center align-items-center small-font" data-label="K/D">
            {{player_worst_attacker.kd}}</td>
        <td class="m-0 p-0 d-flex justify-content-center align-items-center small-font" data-label="W/L">
            {{player_worst_attacker.wl}}</td>
        <td class="m-0 p-0 d-flex justify-content-center align-items-center small-font" data-label="Playtime">
            {{player_worst_attacker.playtime}}</td>
    </tr>
</tbody>